<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Put Up A Car For Sale</h3>
         <a href="/welcome">Dashboard</a>
         <a href="/logout">Logout</a>
        </div>
    
        {% for message in get_flashed_messages() %}
            <p>{{message}}</p>
        {% endfor %}
    
        <form action="/cardealer/create" method="post">
        <label for="price">Price:</label>
        <input type="number" name="price">
        <label for="model">Model:</label>
        <input type="text" name="model">
        <label for="make">Make:</label>
        <input type="text" name="make">
        <label for="year">year:</label>
        <input type="number" id="year" name="year">
        <br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="5" cols="33"></textarea>
        <br>
        <input type="submit" value="Add">
        </form>
            
    




</body>
</html>