<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    {% for message in get_flashed_messages() %}
    <p>{{message}}</p>
    {%endfor%}
    <h1>Welcome, {{logged_user.first_name}}</h1>
    <a href="/users/loginout" class="btn btn-primary" role="button" loginout="button">Loginout</a>
    <a href="/parties/new" class="btn btn-primary active" role="button" Myparties="button" aria-pressed="true">My parties</a>
   
    <p>All The Cool Parties We Know About</p>

    <table>
      <thread>
      <tr>
        <th>what</th>
        <th>location</th>
        <th>Date</th>
        <th>All Ages</th>
        <th>Posted By</th>
        <th>Actions</th>
      </tr>
    </thread>

    <tbody>
      {% for party in all_parties %}
      <tr>
        <td>{{party.what}}</td>
        <td>{{party.location}}</td>
        <td>{{party.date}}</td>
        <td>{% if party.all_ages == 1 %}True{%else%}False{%endif%}</td>
        <td>{{party.planner.first_name}} {{party.planner.last_name}}</td>
        <td>
          <a href="/parties/{{party.id}}">View</a> 
          {% if session['user_id'] == party.user_id %}
        | <a href="/parties/{{party.id}}/edit">Edit</a> |
          <a href="/parties/{{party.id}}/delete">Delete</a>
          {%endif%}
        </td> 
      {%endfor%}
      </tr>
     
    </tbody>
    </table>
    <!-- <a href="/parties/new"></a> -->




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  </body>
</html>