<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h3>{{party.what}}</h3>
    <p>Posted By: {{party.planner.first_name}} {{party.planner.last_name}} </p>
    <p>Location: {{party.location}}</p>
    <P>When: {{party.date}}</P>
    <p>All Ages Welcome: {% if party.all_ages == 1 %}True{%else%}False{%endif%}</p>
    <p>Description: {{party.description}}</p>
    <a href="/welcome">Home</a>
    </div>
</body>
</html>