<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
         <a href="/welcome">Dashboard</a>
         <a href="/users/logout">Logout</a>
        </div>
    
        {% for message in get_flashed_messages() %}
            <p>{{message}}</p>
        {% endfor %}
    
        <form action="/painting/create" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title">
        <label for="price">Price:</label>
        <input type="number" name="price">
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="5" cols="33"></textarea>
        <br>
        <input type="submit" value="Add">


</body>
</html>