<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/welcome">Dashboard</a>
    <a href="/users/logout">Logout</a>

    <div>
        <p>title: {{paintings.title}}</p>
        <p>Price: ${{paintings.price}} </p>
        <p>Description: {{paintings.description}}</p>
        <p>Seller: {{logged_user.first_name}} {{logged_user.last_name}}</p>
    </div>


    
</body>
</html>