<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Dojo</h1>
   
    <div>
        <form action="/dojo/create" method="post">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name"> 
        <div>
            <form action="/dojo/<int:id>">
        <button>Create</button>
        </form>
        </form>
    </div>
    </div>
    <br>
    
    <div>
    <h1>All Dojos</h1>
    {% for one_dojo in all_dojos %}
       <a href="/dojo/{{one_dojo.id}}">{{one_dojo.name}}</a>
        
    </div>
    {% endfor%}
    <br>
    <a href="/ninja/new">Add Ninja</a>
</body>
</html>