<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Bootstrap.css') }}">
    <style>
    #container, #container2, #container3 {
    background-color: blue;
    height: 200 px;
    width: 100 px;
    flex-wrap:wrap; 
    display: inline-block;
}
</style>
</head>

<body>
<h1>Welcome!</h1>
<a href="/user_one"
<div class="container">
<div class="container2">
<div class="container3">  
</div>   
</div>
</div>

</body>
</html>