<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="tv_shows">Tv shows</a>
    <a href="/users/logout">Logout</a>

    <div>
        <p>Title: {{show.title}}</p>
        <p>Network: {{shows.planner.network}} </p>
        <p>ReleaseDate: {{shows.date}}</p>
        <p>Description: {{shows.description}}</p>
        <p>Posted By: {{shows.posted_by}}</p>
        <a href="/welcome">Home</a>
    </div>



</body>
</html>